body {
  margin: 0;
  padding: 0;
}

.picHeader {
  font-family: 'Markazi Text', serif;
  font-size: 7rem;
  color: white;
}

.picText {
  font-family: 'Crimson Text', serif;
  font-size: 3rem;
  color: white;
}

.card-header.title {
  background-color: #04c4e6;
  color: white;
}

.thumbnail {
  position: relative;
}

.card.article-item {
  border: 2px solid #dadada;
  border-radius: 5px;
}

.card-header.title {
  border: 2px solid #dadada;
  border-radius: 5px;
}

.index-btn {
  width: 150px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 25px;
  display: flex;
  justify-content: flex-end;

}

.saved-btn-alignment {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.saved-btn {
  width: 200px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.caption {
  position: absolute;
  color: white;
  top: 45%;
  left: 0;
  width: 100%;
}

.radio2 {
  width: 100%;
}

h3 {
  font-family: 'Markazi Text', serif;
  font-size: 3rem;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 1rem;
}

.card-header {
  background-color: #04c4e6;
  color: white;
  font-family: 'Markazi Text', serif;
  font-size: 3rem;
}

.card-text {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
}

.comments-container {
  max-height: 150px;
  overflow-y: auto;
  padding: 0;
  list-style-type: none;
}

.delete-comment-button {
  float: right;
  border: "50%";
  color: red;
  cursor: default;
}

.comment-item {
  padding-right: 10px;
  width: 100%;
  display: block;
}

.article-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
}